/* 기존에 만들어 놓은 badge */
.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

/* 추가한 내용 */
.header_setting-badge {
  width: 5px;
  height: 5px;
  position: absolute;
  left: 22px;
  bottom: 15px;
}

.screen-header__setting-link {
  position: relative;
}

.nav_setting-badge {
  width: 5px;
  height: 5px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.badge__return-login {
  width: 5px;
  height: 5px;
  position: relative;
  left: 30px;
  bottom: 28px;
}
